<h1>Edit Post</h1>

<form class="" action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">

  <label for="">Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>

  <label for="">URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>

  <label for="">Content
    <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>
  <br>
  <h4>Cross Posts</h4>
  <% Sub.all.each do |sub_reddit| %>
    <input type="checkbox" name="post[sub_ids][]" value="<%= sub_reddit.id %>"
    <%= "checked" if @post.sub_ids.include?(sub_reddit.id) %>><%= sub_reddit.title %>
  <% end %>
<br>
  <input type="submit" name="" value="Edit Post">
</form>
