<h1>Post Show</h1>

<% if current_user == @post.author %>
  <a href="<%= edit_post_url(params[:id]) %>">Edit</a>

<% end %><br>

<%= @post.title %><br>
<%= @post.url %><br>
<%= @post.content %><br>
<%= @post.author.username %><br>



<h2>All Comments:</h2>
<% @post.comments.where(parent_comment_id: nil).each do |comment| %>
<a href="<%= comment_url(comment) %>">View Conversation</a> <br>
    <%= get_comments(comment) %>
<% end %>



<h2>Add Comment</h2>
<form class="" action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <label for="">Comment
    <input type="text" name="comment[content]" value="">
  </label>

  <input type="submit" value="Add Comment">
</form>
